@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(http://themes.googleusercontent.com/static/fonts/robotocondensed/v7/Zd2E9abXLFGSr9G3YK2MsNxB8OB85xaNTJvVSB9YUjQ.woff) format('woff');
}

@font-face {
  font-family: JetBrainsReg;
  src: url(../webfonts/JetBrainsMono-Regular.woff2);
}

@font-face {
  font-family: JetBrainsLight;
  src: url(../webfonts/JetBrainsMono-Light.woff2);
}

.font-roboto-condensed {
  font-family: 'Roboto Condensed', sans-serif;
}

.font-JBReg {
  font-family: 'JetBrainsReg', sans-serif;
}

.font-JBLight {
  font-family: 'JetBrainsLight', sans-serif;
}

html, body {
margin: 0px;
padding: 0px;
height: 100%
}


body {
  background-image: url('../assets/headerbackground.jpg');
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* this section is related to the python code snippet */

header {
  width: 100%;
  margin: 200px auto 200px;
  overflow-x: scroll
}

#container {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

table {
  margin: 10px 5px 5px 5px
}

@media (min-width: 1100px) {
  header {
    width: max-content;
    overflow-x: hidden;
  }
  #container {
    overflow-x: hidden;
  }
}

#gutter {
  border-right-style: solid;
  border-right-color: #c9d1d9;
  border-width: 1px;
  width: 100%;
  margin: 0px;
  line-height: 20px;
  font-family: 'JetBrainsReg', sans-serif;
  font-size: calc(7px + .5vw);
  overflow: auto
}

#guttertd {
  display: list-item;
}

#maincode {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 5px;
  line-height: 20px;
  /*transform: translateY(1.5%);*/
  font-family: 'JetBrainsReg', sans-serif;
  overflow: auto
}

#pythonsnippet {
  border-radius: 15px;
  width: auto;
  margin: 0.5vw;
  overflow-x: auto;
}

header::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
header {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  scrollbar-color: #ffffff00;
}

div#pythonsnippet span {
  font-family: 'JetBrainsReg', sans-serif;
  font-size: calc(7px + .5vw);
}

#webdev {
  position: absolute;
  transform: translate3d(-46px, 1.45px, 0px);
}

@media (min-width: 1100px) {
  #maincode {
    line-height: 25px;
    font-size: calc(7px + .5vw);

  }
  #gutter {
    line-height: 25px;
    font-size: calc(7px + .5vw);
  }
  #webdev {
    position: relative;
    transform: none;
  }
}


.modal-header {
  font-family: 'JetBrainsReg', sans-serif;
}

/* section end */

/* this section is related to header scrolling lock */

.page-header {
  height: 0px;
  background: #CCC;
  margin: auto;
  width: fit-content;
  border-radius: 15px;
  z-index: 2;
} 

.nav-wrapper {
  height: fit-content;
  background: #161b22;
  margin: auto;
  width: fit-content;
  border-radius: 15px;
  z-index: 2;
  box-shadow: 5px 10px #0000007c;
}

.nav-wrapper .nav {
  height: fit-content;
  background: #161b22;
  padding: 0 0;
  line-height: 175px;
  color: #FFF;
  margin: auto;
  border-radius: 15px;
  z-index: 2;
  width: fit-content;
}

.nav-wrapper .nav.fixed {
  height: fit-content;
  position: fixed;
  z-index: 2;
  top: -15px;
  left: 0;
  right: 0;
  margin: auto;
  width: max-content;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 5px 10px #0000007c;
}

.navfiller.fixed {
  height: 450px;
}

/* section end */

.mainbody {
  display: flex;
  flex-direction: column;
}

.mainbody {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  margin: 0px;
}

.socialitem {
  border-style: solid;
  border-width: 2px;
  display: inline-flex;
  width: 90px;
  height: 90px;
  margin: auto 35px;
  background-color: #0000ff00;
  transform: rotate(45deg);
  transform-style: preserve-3d;
  position: relative;
  transition: transform 0.25s;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.socialitem:hover {
  background-color: #ffcccc00;
  width: 90px;
  height: 90px;
  transform: rotate(0deg);
  z-index: 1;
}

.socialitem > span {
  transform: rotate(-45deg);
  transition: transform 0.25s;
}

.socialitem:hover > span {
  transform: rotate(0deg);
}

.movedown {
  transform: translateY(25%);
}

.social {
  text-align: center;
  z-index: 1;
}

ul {
  width: 100%;
  padding-inline-start: 0px;
  z-index: 1;
}

/* The Modal (background) */
.modal {
  grid-column: 2/4;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  padding-top: 220px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  width: 100%;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 15px;
  word-wrap: break-word;
  overflow-wrap: anywhere;
}

@-webkit-keyframes animatetop {
  from {top:-500px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-500px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(0, 162, 255);
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 30px;
  background-color: #161b22;
  color: white;
  border-radius: 15px 15px 0 0;
}

.modal-body {
  padding: 2px 10px;
}

/* .modal-footer {

} */

button {
  background-color: #ffffff00;
  border-color: #ffffff00;
  color: #ffffff00;
}

.modal-header h2 {
  margin:5px;
}

/* .modal-footer h3 {
  margin: 0px;
} */

.image-txt-container {
  display:flex;
  align-items:center;
  flex-direction: row;
}
.image-txt-container img {
  border-radius: 30%;
  height: 200px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.businesscard li{
  margin-top: 20px;
  margin-bottom: 20px;
  list-style-type: none;
  color: #000000;
  word-wrap: break-word;
  overflow-wrap: anywhere;
}

.business-text {
  font-size: calc(10px + .5vw);
  word-wrap: break-word;
  overflow-wrap: anywhere;
}

.business-social {
  font-size: 15px;
  width: 30px;
}

@media (min-width: 1100px) {
  .modal-content {
    width: max-content;
    overflow-x: hidden;
  }
  .business-social {
    font-size: 30px;
    width: 50px;
  }
  .image-txt-container img {
    border-radius: 30%;
    height: 200px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .modal-body {
    padding: 2px 30px;
  }
}

.page-content {
  margin: auto;
  background-color: #e4e4e4;
  border-radius: 15px;
  z-index: 1;
  position: relative;
}

.gridbackground {
  margin: 0;
  width: 100vw;
  background-color: #002b2c;
  z-index: 0;
  position: absolute;
  top:0
}

.navfiller {
  height: 250px;
  margin: auto;
  background-color: #ffffff00;
}

.page-content p {
  padding: 20px;
}

.page-content h1 {
  text-align: center;
  padding-top: 50px;
  
}

footer {
  background-color: #001b1b;
  background-attachment: fixed;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  bottom: 0;
  height: 13vh;
  z-index: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}